@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700);/*-----------------------------------------
1. MAIN Styles
-------------------------------------------*/

/*------------------
 a) block-section
--------------------*/

.grey-section {
  background: #fafafa;
}

.parallax-section {
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0px 90px 0px;
  background-position: 50% 50%;
}

/*------------------
 b) Main Heading
--------------------*/

.main-heading h2 {
  font-size: 40px;
  font-weight: 400;
  color: #424040;
  margin: 0px;
}

.main-heading h3 {
  font-size: 35px;
  font-weight: 400;
  color: #424040;
  margin: 0px;
}

.main-heading h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #bbb;
  margin: 0px;
}

.main-heading p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #aaa;
  margin: 25px 0px 15px 0px;
}

.main-heading-white h3 {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
}

.main-heading-white h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
}

.main-heading-white p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  margin: 25px 0px 15px 0px;
}

/*------------------
 c) Page Title
--------------------*/

.page-title {
  padding: 70px 0px 70px 0px;
}

.page-title h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
}

.page-title ul {
  padding: 10px 0px 0px 0px;
}

.page-title ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
}

.page-title ul li a {
  color: #fff;
}

.page-title ul li a:hover {
  color: #1D9BD4;
}

.page-title ul li:after {
  content: " /";
  font-size: 12px;
  color: #fff;
  padding: 0px 5px 0px 5px;
}

.page-title ul li:last-child:after {
  content: none;
}

/*------------------
 d) buttons
--------------------*/

.button {
  display: inline-block;
}

.button-text {
  font-size: 13px;
  font-weight: 600;
  color: #bb9b50;
  padding: 15px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.button-text:hover {
  color: #444;
}

.button-simple {
  font-size: 14px;
  font-weight: 500;
  color: #bb9b50;
  padding: 10px 25px 10px 25px;
  border: 2px solid #bb9b50;
  background: #fff;
  text-align: center;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.button-simple:hover {
  color: #fff;
  background: #bb9b50;
}

/*------------------
 a) Text Content
--------------------*/

.text-content h5 {
  font-size: 15px;
  font-weight: 400;
  color: #424040;
  line-height: 27px;
}

.text-content h4 {
  font-size: 19px;
  font-weight: 400;
  color: #424040;
  line-height: 27px;
}

.text-content h3 {
  font-size: 25px;
  font-weight: 400;
  color: #424040;
  line-height: 27px;
}

.text-content h2 {
  font-size: 30px;
  font-weight: 400;
  color: #424040;
  line-height: 27px;
}

.text-content {
  font-size: 15px;
  font-weight: 500;
  color: #777;
  line-height: 27px;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.uppercase {
  text-transform: uppercase;
}

/*------------------
 d) Frames
--------------------*/

.full-width {
  width: 100%;
}

.round-frame {
  border-radius: 10px;
}

/* e) Shadows
--------------------*/

.light-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

/* f) Backgrounds
--------------------*/

.black-transparent-bg {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

/*-----------------------------------------
	1. General
-------------------------------------------*/

html,
body {
  font-family: 'Libre Baskerville', serif !important;
  color: #424040;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424040;
  line-height: 1.3;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a:active,
a:hover,
a:focus {
  outline: 0 none;
  text-decoration: none;
}

button {
  background: none;
  outline: 0 none;
  border: none;
}

iframe {
  border: 0px;
}

input,
textarea {
  outline: none;
  max-width: 100%;
}

::-moz-selection {
  background: #1d9bd4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #1d9bd4;
  color: #fff;
  text-shadow: none;
}

/*-----------------------------------------
	2. Align Holders
-------------------------------------------*/

.left-holder {
  text-align: left;
}

.right-holder {
  text-align: right;
}

.center-holder {
  text-align: center;
}

/*-----------------------------------------
  3. Modals
-------------------------------------------*/

.modal {
  text-align: center;
  padding: 0 !important;
  border-radius: 10px;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  border-radius: 10px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*-----------------------------------------
  Margins
-------------------------------------------*/

/*------------------
    Margin top
--------------------*/

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

/*------------------
    Margin bottom
--------------------*/

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

/*------------------
    Separator
--------------------*/

.separator {
  width: 46px;
  border-bottom: 1px solid #bb9b50;
  margin: 16px auto 16px;
}

.wideSeparatorDark {
  width: 75%;
  max-width: 200px;
  border-bottom: 1px #bb9b50 solid;
  margin: 15px 0 20px;
}

.gold-background {
  background-color: #e4d7bb;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

.pt-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-15 {
  padding-top: 17px;
}

.mt-19 {
  margin-top: 19px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.p-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-70 {
  padding-top: 70px;
}

.p-tb60 {
  padding-top: 100px;
  padding-bottom: 60px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.padding-gero {
  padding-left: 0px;
  padding-right: 0px;
}

.text-black {
  color: #000000;
}

.text-grey {
  color: #888888;
}

.back-blue {
  background-color: #281a35;
}

.back-dark {
  background-color: #333333;
}

.back-light {
  background: #f8f8f8;
}

.back-grey {
  background: #f2f2f2;
}

.team-color-back {
  background: #f9f9fb;
}

.text-white {
  color: #fff !important;
}

.text-blue {
  color: #281a35;
}

.mt-30 {
  margin-top: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.full-width {
  width: 100%;
}

.left-gero {
  padding-left: 0px;
}

.right-gero {
  padding-right: 0px;
}

.p-tb80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reservation-enquiry {
  background-color: #e4d7bb;
  padding: 50px 0px 70px 0px;
}

.mailing-list {
  padding: 50px 0px 70px 0px;
}

.opening-times {
  background-color: #4c4e41;
  color: white !important;
  padding: 70px 0px 90px;
}

.opening-times-headings {
  color: white !important;
}

.find-us {
  padding: 45px 0 50px 0;
}

.visit-website {
  padding: 30px 0px;
}

.display-none {
  display: none;
}

/*-----------------------------------------
3. Top-Bar Styles
-------------------------------------------*/

#top-bar {
  background: #fff;
  min-height: 50px;
  border-top: solid 10px #bb9b50;
}

.top-bar-info {
  padding: 0px;
}

.top-icons-section {
  width: 260px;
}

.top-bar-info li {
  font-size: 13px;
  font-weight: 500;
  color: #777;
  list-style-type: none;
  float: left;
  margin: 0px;
  padding: 16px 16px 0 0;
}

.top-bar-info li i {
  font-size: 29px;
  color: #424040;
  padding-right: 8px;
}

.top-bar-info li i:hover,
.top-bar-info li i:active {
  color: #BB9B4F;
}

.social-icons {
  padding: 0px;
  float: right;
  margin: 0px;
}

.social-icons li {
  font-size: 14px;
  list-style-type: none;
  float: left;
  width: 50px;
  text-align: center;
  border-left: 1px solid #eee;
  margin: 0px;
  padding: 15px 10px 15px 10px;
}

.social-icons li:last-child {
  border-right: 1px solid #eee;
}

.social-icons li a {
  color: #777;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.social-icons a:hover {
  color: #bb9b50;
}

.telephone-number {
  color: #777;
  font-size: 20px;
}

/*-----------------------------------------
4. Navbar Styles
-------------------------------------------*/

.affix {
  top: 0;
  width: 100%;
  z-index: 100 !important;
  border-top: solid 10px #bb9b50 !important;
}

/*Disables affix on small devices*/

@media (max-width: 767px) {
  .affix {
    position: fixed;
  }
}

.navbar-nav {
  margin: 0px;
  z-index: 100 !important;
}

.navbar-header-custom {
  background: #fff;
  padding: 25px 0px 25px 0px;
}

.navbar-logo img {
  max-width: 170px;
  margin-left: 15px;
  max-height: 100px;
}

.navbar-custom {
  background: #fff;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
  box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #BB9B4F;
}

.navbar-default .navbar-nav > .active > a:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #bb9b50;
}

.navbar-custom .navbar-links-custom li a:after {
  content: " / ";
  position: absolute;
  color: #444;
  right: 0;
  top: 15px;
}

.navbar-custom .navbar-links-custom li:last-child a:after {
  display: none;
}

.navbar-custom .navbar-links-custom li a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #444;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  padding: 15px 15px 5px 15px;
}

.navbar-custom .navbar-links-custom li a i {
  font-size: 9px;
  font-weight: normal;
}

.navbar-custom .navbar-links-custom li a:hover {
  color: #bb9b50;
}

@media screen and (max-width: 767px) {
  .navbar-custom .navbar-links-custom li {
    font-size: 13px;
    font-weight: bold;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-bottom: 1px solid #eee;
    padding: 0px;
    margin: 0px;
  }

  .navbar-custom .navbar-links-custom li:last-child {
    border-bottom: none;
  }

  .navbar-custom .navbar-links-custom li a {
    margin: 0px;
    padding: 10px;
  }
}

.navbar-links-custom .dropdown ul {
  border: none;
  border-radius: 0px;
  padding: 10px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.15);
}

.navbar-links-custom .dropdown ul li {
  padding: 0px;
  border: none;
}

.navbar-links-custom .dropdown ul li a {
  font-weight: 700;
  padding: 12px;
  width: 200px;
  text-transform: none;
  text-align: left;
  color: #444;
}

.navbar-links-custom .dropdown ul li a:hover {
  background: #d5c298;
  color: #fff !important;
}

.active-link a {
  color: #1d9bd4 !important;
}

@media screen and (max-width: 767px) {
  .navbar-links-custom .dropdown ul li a:hover {
    color: #d5c298 !important;
  }
}

.menu-icon {
  border: none;
  background: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  ul.navbar-nav {
    float: none !important;
    margin: 0 auto !important;
    display: table !important;
    table-layout: fixed !important;
  }

  .navbar-offcanvas {
    display: none;
  }

  .big-navbar-logo {
    padding: 20px 0 30px 0;
  }

  .small-navbar-logo {
    display: none !important;
    padding-top: 0px !important;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .big-navbar-logo {
    display: none;
  }

  .navbar-custom {
    padding: 10px 0px 15px 0px;
    border-top: solid 10px #bb9b50;
  }
}

.small-navbar-logo {
  padding-top: 0px !important;
}

.nav-inline .nav li {
  position: static;
}

.nav-inline .nav li.open:before {
  content: " ";
  display: table;
  background: #e7e7e7;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50px;
  right: 0;
  left: 0;
}

@media (max-width: 767px) {
  .nav-inline .nav li.open:before {
    display: none;
  }
}

.nav-inline .nav .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 0 auto;
  max-width: 100%;
  background-color: #d5c298;
  color: #fff;
  padding: 0;
}

.nav-inline .nav .dropdown-menu li {
  float: left;
}

.nav-inline .nav .dropdown-menu .active a {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}

@media (max-width: 767px) {
  .nav-inline .nav .dropdown-menu li {
    float: none;
  }
}

.navbar-links-custom .dropdown ul {
  text-align: center !important;
}

.navbar-links-custom .dropdown ul li {
  float: none !important;
  display: inline-block !important;
}

.nav-inline .nav .dropdown-menu li a {
  width: auto !important;
  background: transparent;
  line-height: 49px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: #fff;
}

.nav-inline .nav .dropdown-menu li a:hover {
  color: #000;
}

.closing-menu-button {
  padding: 0;
}

.navbar-offcanvas {
  background-color: #bb9b50;
}

.navbar-offcanvas > .navbar-nav > li.active > a,
.navbar-offcanvas > .navbar-nav > li.dropdown > ul.dropdown-menu > li.active > a,
.navbar-offcanvas > .navbar-nav > li.dropdown > a.active {
  background: #e4d7bb;
  color: #666 !important;
}

.navbar-offcanvas > .navbar-nav > li > a,
.navbar-offcanvas > .navbar-nav > .dropdown .dropdown-menu li a {
  color: #fff;
}

.navbar-offcanvas > .navbar-nav > li > a:hover,
.navbar-offcanvas > .navbar-nav > li > a:focus,
.navbar-offcanvas > .navbar-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
.navbar-offcanvas > .navbar-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
  background: #e4d7bb;
  color: #666;
}

.navbar-offcanvas > .navbar-nav > li.dropdown-menu {
  background: #bb9b50;
}

.navbar-offcanvas > .navbar-nav > li.dropdown-menu a {
  background: #bb9b50;
  color: #fff !important;
}

/*-----------------------------------------
25. Footer
-------------------------------------------*/

footer {
  background-color: #BB9B4F;
  padding: 60px 0px 60px 0px;
  text-align: center;
  color: white;
  border-bottom: solid 10px #353535;
}

#footerTitle {
  text-transform: uppercase;
  font-size: 14px;
}

#footerNumber {
  text-transform: uppercase;
  font-size: 23px;
  padding: 16px 0 20px;
}

#footerAddress,
#footerContact {
  font-size: 14px;
  line-height: 1.7em;
}

#footerNumber > a,
#footerContact > a,
#footerAddress a {
  color: white;
}

.intro {
  background-color: #fff;
  padding: 35px 0;
}

/*-----------------------------------------
22. Contact Page
-------------------------------------------*/

.contact-box {
  background: #fff;
  text-align: center;
  margin-bottom: 30px;
  padding: 70px 45px;
  border-radius: 10px;
  border: 1px solid #eee;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.contact-box:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.contact-box i {
  color: #666;
  font-size: 50px;
  margin-bottom: 30px;
}

.contact-box h4 {
  font-size: 20px;
  font-weight: 500;
  color: #424040;
  margin-top: 40px;
}

.contact-box p {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  line-height: 24px;
  margin-top: 20px;
}

/*-----------------------------------------
21. 404 Page
-------------------------------------------*/

.styles-404 {
  text-align: center;
}

.styles-404 h1 {
  font-size: 100px;
  font-weight: 400;
  color: #1d9bd4;
}

.styles-404 h2 {
  font-size: 35px;
  font-weight: 400;
  color: #424040;
}

.styles-404 h5 {
  font-size: 18px;
  font-weight: 400;
  color: #424040;
}

.single-event > p {
  color: #424040;
}

/*------------------
 d) buttons
--------------------*/

.button {
  display: inline-block;
}

.button-simple {
  font-size: 14px;
  font-weight: 500;
  color: #bb9b50;
  padding: 10px 25px 10px 25px;
  border: 2px solid #bb9b50;
  background: #fff;
  text-align: center;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.button-simple:hover {
  color: #fff;
  background: #bb9b50;
}

.goldBorder {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 7px 15px 5px;
  color: #fff;
  background: #bb9b50;
  z-index: 999;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.goldBorder:hover {
  background-color: #e4d7bb !important;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.email-success-messge,
.email-success-message,
.email-failed-message {
  display: none;
}

/*-----------------------------------------
9. Latest projects Styles (Isotop)
-------------------------------------------*/

.overlay-container {
  position: relative;
}

.project-item img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 360px;
}

.project-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.overlay-container:hover {
  opacity: .8;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.overlay-container .project-item-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project-item-overlay h4 {
  font-size: 21px;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 76%;
  left: 10%;
}

.project-item-overlay p {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 87%;
  left: 10%;
}

.rooms-photo-text {
  padding: 50px 30px;
}

#map_container {
  position: relative;
}

#map {
  height: 500px;
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
  min-height: 400px;
}

/*-----------------------------------------
10. Slider
-------------------------------------------*/

html,
body {
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 935px) {
  .swiper-container {
    height: 25%;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide > .button {
  display: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  /* margin: 0 4px; */
  display: inline-block;
  width: 25px;
  height: 4px;
  margin: 0 2px;
  border-radius: 0;
  background-color: #fff;
  text-indent: -9999px;
  border: 0;
  width: 25px;
  height: 5px;
  opacity: 1;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #bb9b50 !important;
}

/*-----------------------------------------
23. Forms
-------------------------------------------*/

.contactus-form {
  background-color: #e4d7bb;
}

.primary-form input,
.primary-form select,
.primary-form textarea {
  color: #424040;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #eee;
  width: 100%;
  margin-top: 30px;
  padding: 12px 15px 12px 15px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.primary-form select {
  height: 45px;
}

.primary-form input:focus,
.primary-form select:focus {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.primary-form textarea {
  min-height: textarea-height;
}

.primary-form textarea:focus {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

#mc_embed_signup .mc-field-group input {
  width: 100% !important;
  border-radius: 0;
  color: #999;
  background-color: #fff;
  font-size: 14px;
  -webkit-border-radius: 0 !important;
  text-align: center;
  border: 2px solid #bb9b50 !important;
  padding: 7px !important;
}

#mc-embedded-subscribe-form {
  width: 400px;
}

@media only screen and (max-width: 500px) {
  #mc-embedded-subscribe-form {
    width: 100% !important;
  }
}

/*-----------------------------------------
20. Scroll To Top Button
-------------------------------------------*/

.scroll-to-top {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #424040;
  text-decoration: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: none;
  border-radius: 50%;
  border: 1px solid #eee;
  background: #fff;
  width: 50px;
  height: 50px;
  z-index: 9999;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.scroll-to-top i {
  color: #424040;
}

.scroll-to-top:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.scroll-to-top:visited {
  color: #424040;
  text-decoration: none;
}

/*-----------------------------------------
19. Preloader
-------------------------------------------*/

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  display: table;
  text-align: center;
}

.loader {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  position: relative;
  width: 200px;
  height: 200px;
}

.loader-icon {
  width: 60px;
  height: 60px;
  border: 2px solid #bb9b50;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  -webkit-animation: loader-rotate 1s linear infinite;
          animation: loader-rotate 1s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes loader-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .offcanvas-stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .navbar-default .navbar-offcanvas {
    background-color: #f8f8f8;
  }

  .navbar-inverse .navbar-offcanvas {
    background-color: #222;
  }

  .navbar-offcanvas {
    position: fixed;
    width: 100%;
    max-width: 250px;
    height: 100%;
    left: -250px;
    top: 0;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 999999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
  }

  .navbar-offcanvas.in {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .navbar-offcanvas.navbar-offcanvas-fade {
    opacity: 0;
  }

  .navbar-offcanvas.navbar-offcanvas-fade.in {
    opacity: 1;
  }

  .navbar-offcanvas.offcanvas-transform.in {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }

  .navbar-offcanvas.offcanvas-position.in {
    left: 0;
  }

  .navbar-offcanvas.navbar-offcanvas-right {
    left: auto;
    right: -250px;
  }

  .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in {
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  .navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in {
    left: auto;
    right: 0;
  }

  .navbar-offcanvas .dropdown.open .caret {
    border-top: 0;
    border-bottom: 4px solid;
  }

  .navbar-offcanvas .dropdown-menu {
    position: relative;
    width: 100%;
    border: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: height .15s ease-in;
    transition: height .15s ease-in;
  }

  .navbar-offcanvas .dropdown-menu.shown {
    display: block;
    margin-bottom: 10px;
  }
}

.offcanvas-toggle .icon-bar {
  background: #000;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
  transform: rotate(45deg) translate(5px, 4px);
}

.offcanvas-toggle.is-open .icon-bar:nth-child(2) {
  opacity: 0;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  transform: rotate(-45deg) translate(4px, -4px);
}

