/*-----------------------------------------
1. MAIN Styles
-------------------------------------------*/

/*------------------
 a) block-section
--------------------*/

.grey-section {
    background: #fafafa;
}

.parallax-section {
    background-size: cover;
    background-attachment: fixed;
    padding: 90px 0px 90px 0px;
    background-position: 50% 50%;
}


/*------------------
 b) Main Heading
--------------------*/

.main-heading h2 {
    font-size: 40px;
    font-weight: 400;
    color: #424040;
    margin: 0px;
}

.main-heading h3 {
    font-size: 35px;
    font-weight: 400;
    color: #424040;
    margin: 0px;
}

.main-heading h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #bbb;
    margin: 0px;
}

.main-heading p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #aaa;
    margin: 25px 0px 15px 0px;
}


.main-heading-white h3 {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
}

.main-heading-white h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
}

.main-heading-white p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
    margin: 25px 0px 15px 0px;
}


/*------------------
 c) Page Title
--------------------*/

.page-title {
    padding: 70px 0px 70px 0px;
}

.page-title h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
}

.page-title ul {
    padding: 10px 0px 0px 0px;
}

.page-title ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
}

.page-title ul li a {
    color: #fff;
}

.page-title ul li a:hover {
    color: #1D9BD4;
}


.page-title ul li:after {
    content: " /";
    font-size: 12px;
    color: #fff;
    padding: 0px 5px 0px 5px;
}

.page-title ul li:last-child:after {
    content: none;
}


/*------------------
 d) buttons
--------------------*/

.button {
    display: inline-block;
}

.button-text {
    font-size: 13px;
    font-weight: 600;
    color: #bb9b50;
    padding: 15px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.button-text:hover {
    color: #444;
}

.button-simple {
    font-size: 14px;
    font-weight: 500;
    color: #bb9b50;
    padding: 10px 25px 10px 25px;
    border: 2px solid #bb9b50;
    background: #fff;
    text-align: center;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.button-simple:hover {
    color: #fff;
    background: #bb9b50;
}


/*------------------
 a) Text Content
--------------------*/

.text-content h5 {
    font-size: 15px;
    font-weight: 400;
    color: #424040;
    line-height: 27px;
}

.text-content h4 {
    font-size: 19px;
    font-weight: 400;
    color: #424040;
    line-height: 27px;
}

.text-content h3 {
    font-size: 25px;
    font-weight: 400;
    color: #424040;
    line-height: 27px;
}

.text-content h2 {
    font-size: 30px;
    font-weight: 400;
    color: #424040;
    line-height: 27px;
}

.text-content {
    font-size: 15px;
    font-weight: 500;
    color: #777;
    line-height: 27px;
}




.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}



.uppercase {
    text-transform: uppercase;
}




/*------------------
 d) Frames
--------------------*/

.full-width {
    width: 100%;
}

.round-frame {
    border-radius: 10px;
}


/* e) Shadows
--------------------*/

.light-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.hover-shadow:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}


/* f) Backgrounds
--------------------*/

.black-transparent-bg {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
}


/*-----------------------------------------
	1. General
-------------------------------------------*/

html,
body {
    font-family: 'Libre Baskerville', serif !important;
    color: #424040;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #424040;
    line-height: 1.3;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h5,
h6 {
    font-weight: 600;
}



img {
    max-width: 100%;
    height: auto;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

a {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

a:active,
a:hover,
a:focus {
    outline: 0 none;
    text-decoration: none;
}

button {
    background: none;
    outline: 0 none;
    border: none;
}

iframe {
    border: 0px;
}

input,
textarea {
    outline: none;
    max-width: 100%;
}


::-moz-selection {
    background: #1d9bd4;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #1d9bd4;
    color: #fff;
    text-shadow: none;
}



/*-----------------------------------------
	2. Align Holders
-------------------------------------------*/

.left-holder {
    text-align: left;
}

.right-holder {
    text-align: right;
}

.center-holder {
    text-align: center;
}



/*-----------------------------------------
  3. Modals
-------------------------------------------*/

.modal {
    text-align: center;
    padding: 0!important;
    border-radius: 10px;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    border-radius: 10px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}










/*-----------------------------------------
  Margins
-------------------------------------------*/

/*------------------
    Margin top
--------------------*/

.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mt-55 {
    margin-top: 55px
}

.mt-60 {
    margin-top: 60px
}

.mt-65 {
    margin-top: 65px
}

.mt-70 {
    margin-top: 70px
}

.mt-75 {
    margin-top: 75px
}

.mt-80 {
    margin-top: 80px
}

.mt-85 {
    margin-top: 85px
}

.mt-90 {
    margin-top: 90px
}

.mt-95 {
    margin-top: 95px
}

.mt-100 {
    margin-top: 100px
}

.mt-105 {
    margin-top: 105px
}

.mt-110 {
    margin-top: 110px
}

.mt-115 {
    margin-top: 115px
}

.mt-120 {
    margin-top: 120px
}

.mt-125 {
    margin-top: 125px
}

.mt-130 {
    margin-top: 130px
}

.mt-135 {
    margin-top: 135px
}

.mt-140 {
    margin-top: 140px
}

.mt-145 {
    margin-top: 145px
}

.mt-150 {
    margin-top: 150px
}

/*------------------
    Margin bottom
--------------------*/

.mb-0 {
    margin-bottom: 0
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-65 {
    margin-bottom: 65px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-75 {
    margin-bottom: 75px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-85 {
    margin-bottom: 85px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-95 {
    margin-bottom: 95px
}

.mb-100 {
    margin-bottom: 100px
}

.mb-105 {
    margin-bottom: 105px
}

.mb-110 {
    margin-bottom: 110px
}

.mb-115 {
    margin-bottom: 115px
}

.mb-120 {
    margin-bottom: 120px
}

.mb-125 {
    margin-bottom: 125px
}

.mb-130 {
    margin-bottom: 130px
}

.mb-135 {
    margin-bottom: 135px
}

.mb-140 {
    margin-bottom: 140px
}

.mb-145 {
    margin-bottom: 145px
}

.mb-150 {
    margin-bottom: 150px
}

/*------------------
    Separator
--------------------*/

.separator {
    width: 46px;
    border-bottom: 1px solid #bb9b50;
    margin: 16px auto 16px;
}


.wideSeparatorDark {
    width: 75%;
    max-width: 200px;
    border-bottom: 1px #bb9b50 solid;
    margin: 15px 0 20px;
}



.gold-background {
    background-color: #e4d7bb;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    overflow-wrap: break-word;
}


img {
    max-width: 100%;
    height: auto;
}

.pt-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-15 {
    padding-top: 17px;
}

.mt-19 {
    margin-top: 19px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.p-tb {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-70 {
    padding-top: 70px;
}

.p-tb60 {
    padding-top: 100px;
    padding-bottom: 60px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}

.padding-gero {
    padding-left: 0px;
    padding-right: 0px;
}

.text-black {
    color: #000000;
}

.text-grey {
    color: #888888;
}

.back-blue {
    background-color: #281a35;
}

.back-dark {
    background-color: #333333;
}

.back-light {
    background: #f8f8f8;
}

.back-grey {
    background: #f2f2f2;
}

.team-color-back {
    background: #f9f9fb;
}

.text-white {
    color: #fff!important;
}

.text-blue {
    color: #281a35;
}

.mt-30 {
    margin-top: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.mt-0 {
    margin-top: 0px!important;
}

.mt-20 {
    margin-top: 20px!important;
}

.full-width {
    width: 100%;
}

.left-gero {
    padding-left: 0px;
}

.right-gero {
    padding-right: 0px;
}

.p-tb80 {
    padding-top: 80px;
    padding-bottom: 80px;
}



.reservation-enquiry {
    background-color: $gold-background;
    padding: 50px 0px 70px 0px;
}

.mailing-list {
    padding: 50px 0px 70px 0px;
}

.opening-times {
    background-color: #4c4e41;
    color: white !important;
    padding: 70px 0px 90px;
}

.opening-times-headings {
    color: white !important;
}

.find-us {
    padding: 45px 0 50px 0;
}

.visit-website {
    padding: 30px 0px;
}

.display-none {
    display: none;
}