// Body
$body-bg: #fff;

// Borders
$top-page-border:solid 10px #bb9b50;
$bottom-page-border: solid 10px #353535;

// Colour Theme
$primary-color: #bb9b50;
$gold-background:#e4d7bb;
$gold-text-color:#BB9B4F;
$grey-bg: #fafafa;
$black-transparent-bg:rgba(0,0,0, 0.3);
$white-bg: $body-bg;
$white-text:$body-bg;

// Standard Bootstrap Colour Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-text: 'Libre Baskerville', serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #424040;
$font-weigth:500;

// Navbar
$navbar-default-bg: $body-bg;
$navbar-default-padding:25px 0px 25px 0px;
$navbar-default-color: #444;
$navbar-hover-color: $primary-color;

// Form
$mc-form-width:400px;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-padding: 12px 15px 12px 15px;
$input-border: 1px solid #eee;
$input-border-focus: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$input-color-placeholder: lighten($text-color, 30%);
$input-width: 100%;
$textarea-height: 150px;
$select-height: 45px;
//Mailchimp Inputs
$mc-input-border:2px solid #bb9b50!important;
$mc-input-padding:7px!important;
$mc-input-color:#999;


// Google Maps
$google-maps-height: 500px;
$google-maps-min-height:400px;

// Image Grids (Image overlay)
$overlay-transition: 1s ease;

// Events


// Footer 
$footer-bg:$gold-text-color;
$footer-padding: 60px 0px 60px 0px;
$footer-color:$body-bg;
$footer-transform: uppercase;