/*------------------
 d) buttons
--------------------*/
.button{
  display: inline-block;
}
.button-simple{
  font-size: 14px;
  font-weight: 500;
  color: $primary-color;   
  padding: 10px 25px 10px 25px;
  border: 2px solid $primary-color;
  background: $white-bg;
  text-align: center;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;   
}
.button-simple:hover{
  color: $white-text; 
  background: $primary-color;
}

.goldBorder{
    position:relative;
    display:inline-block;
    margin-left:10px;
    padding:7px 15px 5px;
    color:$white-text;
    background: $primary-color;
    z-index:999;
    transition:all .2s
}

.goldBorder:hover{
    background-color: $gold-background !important;
    color:$white-text;
}

button:hover {
  cursor: pointer;

}

.email-success-messge,
.email-success-message,
.email-failed-message{
    display: none;
}
