/*-----------------------------------------
23. Forms
-------------------------------------------*/
.contactus-form{
    background-color: $gold-background;   
}

.primary-form input,.primary-form select,.primary-form textarea{
  color: $text-color;
  font-size: $font-size-base;
  font-weight: 500;
  border: $input-border;
  width: $input-width;
  margin-top: 30px; 
  padding: $input-padding;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;     
}

.primary-form select{
   height:$select-height; 
}

.primary-form input:focus,.primary-form select:focus{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.primary-form textarea{
  min-height: textarea-height;
}
.primary-form textarea:focus{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

#mc_embed_signup .mc-field-group input {
      width: $input-width!important;
      -moz-border-radius: 0;
      border-radius: 0;
      color: $mc-input-color;
      background-color: $white-bg;
      font-size: $font-size-base;
      -webkit-border-radius: 0!important;
      text-align: center;
      border: $mc-input-border;
      padding: $mc-input-padding;
  }
  
  #mc-embedded-subscribe-form {
      width: $mc-form-width;
  }
  
  @media only screen and (max-width:500px) {
      #mc-embedded-subscribe-form {
          width: $input-width !important;
      }
  }
