#map_container {
  position: relative;
}

#map {
  height: $google-maps-height;
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
  min-height: $google-maps-min-height;
}
