/*-----------------------------------------
9. Latest projects Styles (Isotop)
-------------------------------------------*/

.overlay-container{
  position: relative;
}
.project-item img{
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  height:360px;
}

.project-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: $overlay-transition;
}

.overlay-container:hover{
  opacity: .8;
  transition: $overlay-transition;
}

.overlay-container .project-item-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1 ;
  height: 100%;
  width: 100%;  
  height: 100%;
  transition: $overlay-transition;
}
.project-item-overlay h4 {
  font-size: 21px;
  font-weight: $font-weigth; 
  white-space: nowrap; 
  color: white;
  position: absolute;
  overflow: hidden;
  top: 76%;
  left: 10%;
}
.project-item-overlay p {
  font-size: 13px;
  font-weight: $font-weigth; 
  white-space: nowrap; 
  color: white;
  position: absolute;
  overflow: hidden;
  top: 87%;
  left: 10%;
}

.rooms-photo-text{
  padding: 50px 30px;
}
