/*-----------------------------------------
20. Scroll To Top Button
-------------------------------------------*/
.scroll-to-top{
  font-size: 20px;  
  padding: 10px; 
  text-align:center; 
  color: #424040;
  text-decoration: none;
  position:fixed;
  bottom:80px;
  right:20px;
  display:none;
  border-radius: 50%;
  border:1px solid #eee;
  background: #fff;
  width: 50px;
  height: 50px;  
  z-index: 9999;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;   
}
.scroll-to-top i{
  color: #424040;
}

.scroll-to-top:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05); 
}
.scroll-to-top:visited{
  color: #424040;
  text-decoration:none;
}

