/*-----------------------------------------
10. Slider
-------------------------------------------*/
html,
body {
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:935px){
    .swiper-container {
        height: 25%;
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide > .button{
  display:none;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    /* margin: 0 4px; */
    display: inline-block;
    width: 25px;
    height: 4px;
    margin: 0 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    text-indent: -9999px;
    border: 0;
    width: 25px;
    height: 5px;
    opacity: 1;
}

.swiper-pagination-white .swiper-pagination-bullet-active{
    background: #bb9b50 !important;
}