/*-----------------------------------------
21. 404 Page
-------------------------------------------*/
.styles-404{
  text-align: center;
}
.styles-404 h1{
  font-size: 100px;
  font-weight: 400;
  color: #1d9bd4; 
}
.styles-404 h2{
  font-size: 35px;
  font-weight: 400;
  color: #424040;
}

.styles-404 h5{
  font-size: 18px;
  font-weight: 400;
  color: #424040;
}
