/*-----------------------------------------
22. Contact Page
-------------------------------------------*/
.contact-box{
  background: #fff;
  text-align: center;
  margin-bottom: 30px;
  padding: 70px 45px;
  border-radius: 10px;
  border:1px solid #eee;
    -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.contact-box:hover{   
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.contact-box i{
  color: #666;
  font-size: 50px;
  margin-bottom: 30px;
}
.contact-box h4{
  font-size: 20px;
  font-weight: 500;
  color: #424040;
  margin-top: 40px;
}
.contact-box p{
  font-size: 14px;
  font-weight: 500; 
  color: #777;
  line-height: 24px;
  margin-top: 20px; 
}
