
/*-----------------------------------------
25. Footer
-------------------------------------------*/
footer{
  background-color: #BB9B4F;
  padding: 60px 0px 60px 0px; 
  text-align: center;
  color: white;
  border-bottom: solid 10px #353535;
}

#footerTitle {
  text-transform: uppercase;
  font-size: 14px;
}

#footerNumber {
    text-transform: uppercase;
    font-size: 23px;
    padding: 16px 0 20px;
}

#footerAddress, #footerContact {
    font-size: 14px;
    line-height: 1.7em;
}

#footerNumber > a,
#footerContact > a,
#footerAddress  a{
    color:white;
}
