/*-----------------------------------------
3. Top-Bar Styles
-------------------------------------------*/
#top-bar{
  background: #fff;
  min-height: 50px;
  border-top: solid 10px #bb9b50;
}
.top-bar-info {
  padding: 0px;
}

.top-icons-section{
  width: 260px;  
}
.top-bar-info li{
  font-size: 13px;
  font-weight: 500;
  color: #777;
  list-style-type: none;
  float: left;
  margin: 0px;
  padding: 16px 16px 0 0;
}
.top-bar-info li i{
  font-size: 29px;
  color: #424040;
  padding-right: 8px;
}

.top-bar-info li i:hover,
.top-bar-info li i:active{
    color: #BB9B4F;
}

.social-icons{
  padding: 0px;
  float: right;
  margin: 0px;
}
.social-icons li{
  font-size: 14px;
  list-style-type: none;
  float: left;
  width: 50px;
  text-align: center;
  border-left: 1px solid #eee;
  margin: 0px;
  padding: 15px 10px 15px 10px; 
}
.social-icons li:last-child{
  border-right: 1px solid #eee;
}
.social-icons li a{
  color: #777;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; 
}
.social-icons a:hover{
  color: #bb9b50;
}

.telephone-number{
    color: #777;
    font-size:20px;
}

/*-----------------------------------------
4. Navbar Styles
-------------------------------------------*/
.affix {
  top: 0;
  width: 100%;
  z-index: 100 !important;
  border-top: solid 10px #bb9b50 !important;
}

/*Disables affix on small devices*/
@media (max-width: 767px) {
    .affix {
        position: fixed;
    }
}

.navbar-nav{
  margin: 0px;
  z-index: 100 !important;
}


.navbar-header-custom{
  background: #fff;
  padding: 25px 0px 25px 0px;
}

.navbar-logo img{
  max-width: 170px;
  margin-left: 15px;
  max-height: 100px;
}
.navbar-custom{
  background: #fff;
  border: none;
  border-radius: 0px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(20, 20, 20, 0.05);
  -moz-box-shadow:    0px 3px 6px 0px rgba(20, 20, 20, 0.05);
  box-shadow:         0px 3px 6px 0px rgba(20, 20, 20, 0.05);
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #BB9B4F;
    
}

.navbar-default .navbar-nav>.active>a:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #bb9b50;
}


.navbar-custom .navbar-links-custom li a:after{
    content: " / " ;
    position: absolute;
    color: #444;
    right: 0;
    top : 15px;
}

.navbar-custom .navbar-links-custom li:last-child a:after{
    display: none;
}


.navbar-custom .navbar-links-custom li a{
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;  
  letter-spacing: 0.5px;
  color: #444;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; 
  padding: 15px 15px 5px 15px; 
}
.navbar-custom .navbar-links-custom li a i{
  font-size: 9px;
  font-weight: normal;
}
.navbar-custom .navbar-links-custom li a:hover{
  color:  #bb9b50;
}
@media screen and (max-width:767px) {
  .navbar-custom .navbar-links-custom li{
  font-size: 13px;
  font-weight: bold;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; 
    border-bottom: 1px solid #eee;
    padding: 0px;
    margin: 0px;
  }
  .navbar-custom .navbar-links-custom li:last-child{
      border-bottom: none;
  }
  .navbar-custom .navbar-links-custom li a{
    margin: 0px;
    padding: 10px;
  } 
}

.navbar-links-custom .dropdown ul{
  border: none;
  border-radius: 0px;
  padding: 10px;
  margin-left: 5px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.15); 
}
.navbar-links-custom .dropdown ul li{
  padding: 0px;
  border:none;
}
.navbar-links-custom .dropdown ul li a{
  font-weight: 700;
  padding: 12px;
  width: 200px;
  text-transform: none;
  text-align: left;
  color: #444;
}

.navbar-links-custom .dropdown ul li a:hover{
  background: #d5c298;
  color: #fff !important;
}

.active-link a{
  color: #1d9bd4 !important;
}

@media screen and (max-width:767px) {
  .navbar-links-custom .dropdown ul li a:hover{
    color: #d5c298 !important;
  } 
}


.menu-icon{
  border: none;
  background: none;   
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


@media (min-width: 768px){
    ul.navbar-nav{
        float:none !important;
        margin: 0 auto !important;
        display: table !important;
        table-layout: fixed !important;
    }
    
    .navbar-offcanvas{
        display: none;
    }
    
    .big-navbar-logo{
        padding: 20px 0 30px 0;
    }
    
    .small-navbar-logo{
        display: none !important;
        padding-top: 0px !important;
    }
}

@media (max-width: 768px) { 
  .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
  }
    .big-navbar-logo{
        display: none;
    }
    .navbar-custom{
      padding: 10px 0px 15px 0px;
        border-top: solid 10px #bb9b50;
    }
}

.small-navbar-logo{
    padding-top: 0px !important;
}

.nav-inline .nav li {
  position: static;
}
.nav-inline .nav li.open:before {
  content: " ";
  display: table;
  background: #e7e7e7;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50px;
  right: 0;
  left: 0;
}
@media (max-width: 767px) {
  .nav-inline .nav li.open:before {
    display: none;
  }
}
.nav-inline .nav .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
  box-shadow: none;
  border: none;
  margin: 0 auto;
  max-width: 100%;
  background-color: #d5c298;
  color:#fff;
  padding: 0;
}
.nav-inline .nav .dropdown-menu li {
  float: left;
}

.nav-inline .nav .dropdown-menu .active a{
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff; 
}
@media (max-width: 767px) {
  .nav-inline .nav .dropdown-menu li {
    float: none;
  }
}


.navbar-links-custom .dropdown ul {
  text-align:center !important;
}

.navbar-links-custom .dropdown ul li {
 float: none !important;
 display:inline-block !important;
}


.nav-inline .nav .dropdown-menu li a {
  width: auto !important;
  background: transparent;
  line-height: 49px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: #fff;
}
.nav-inline .nav .dropdown-menu li a:hover {
  color: #000;
}

.closing-menu-button{
    padding: 0;
}

.navbar-offcanvas{
    background-color: #bb9b50;
}

.navbar-offcanvas > .navbar-nav > li.active > a,
.navbar-offcanvas > .navbar-nav >li.dropdown > ul.dropdown-menu > li.active >a,
.navbar-offcanvas > .navbar-nav >li.dropdown > a.active{
    background:#e4d7bb;
    color: #666 !important;
}

.navbar-offcanvas > .navbar-nav > li >a,
.navbar-offcanvas > .navbar-nav > .dropdown .dropdown-menu li a{
    color:#fff;
}

.navbar-offcanvas > .navbar-nav > li >a:hover,
.navbar-offcanvas > .navbar-nav > li >a:focus,
.navbar-offcanvas > .navbar-nav >li.dropdown > ul.dropdown-menu > li >a:hover,
.navbar-offcanvas > .navbar-nav >li.dropdown > ul.dropdown-menu > li >a:focus{
    background:#e4d7bb;
    color: #666;
}

.navbar-offcanvas > .navbar-nav >li.dropdown-menu{
    background:#bb9b50;
}

.navbar-offcanvas > .navbar-nav >li.dropdown-menu a{
    background:#bb9b50;
    color: #fff !important;
}




